<div class="calendar-chooser">
  <form>

    <select name="month" ng-model="calendar.month">
      <option ng-repeat="name in monthNames" value="{{ $index }}"}}
              ng-if="$index === calendar.month" selected>
        {{ name }}
      </option>
      <option ng-repeat="name in monthNames" value="{{ $index }}"}}
              ng-if="$index !== calendar.month">
        {{ name }}
      </option>
    </select>

    <input type="number" name="year" ng-model="calendar.year">

  </form>
</div>
