<div class="calendar-grid" direct-update>
  <ng-transclude></ng-transclude>
  <table>
    <caption>{{ monthNames[calendar.month] }}, {{ calendar.year }}</caption>
    <thead>
      <tr>
        <th ng-repeat="name in weekdayNames track by $index">{{ name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="week in weeks">
        <td ng-repeat="day in week"
            ng-class="{
              'weekday':    day.weekday,
              'this-month': day.month === calendar.month,
              'today':      day.day === currentDate
                         && day.month === currentMonth
                         && day.year === currentYear
            }">{{ day.day }}</td>
      </tr>
    </tbody>
  </table>
</div>
